{% extends "layout/base.tera" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.bundle.min.js"></script>
{% endblock head %}

{% block body_tag %} data-bs-theme="dark" {% endblock body_tag %}